<div class="HomeAbout">
  <div class="HomeAbout__Container">
    <div class="HomeAbout__Image">
      <img [src]="imgUrl" alt="" srcset="">
    </div>
    <div class="HomeAbout__Description">
      <div class="HomeAbout__Title">About Me</div>
      <p>
        Hi! I'm <span class="TextHighlight">John Ivan A. Fajardo</span>  a dedicated web developer with over 5 years of experience, focused on creating intuitive and user-friendly web applications. <br><br>
        Close collaboration with design teams ensures seamless digital experiences that look great and function flawlessly. <br> <br>
        Specializing in building responsive websites that perform well on any device, adapting smoothly to different screen sizes. <br><br>
        Staying up-to-date with the latest trends and technologies helps maintain high standards of clean, efficient, and reliable code. <br><br>
        
        Thank you for visiting this portfolio, looking forward to the possibility of working together!
      </p>
    </div>
  </div>
</div>
