<div class="HomeAbout">
  <div class="HomeAbout__Title">About Me</div>
  <div class="HomeAbout__Description">
    <p>
      I'm an enthusiastic Web Developer with over 4 years of experience. My
      focus is on creating user-friendly web applications, collaborating closely
      with design teams to ensure seamless experiences. <br /><br />
      I specialize in building websites that work well on both desktop and
      mobile devices, making sure they adapt smoothly to different screen sizes.
      I stay updated with the latest trends and technologies to continually
      improve my work and write efficient, high-quality code. <br /><br />Thanks
      for checking out my portfolio. I'm excited about the possibility of
      working together.
    </p>
  </div>
</div>
