<div class="HomeLanding">
  <div class="HomeLanding__Content">
    <div class="HomeLanding__Text">
      <h3>Hi, I'am</h3>
      <h1>{{ stringTranslation.name }}</h1>
      <h2>{{ stringTranslation.web_developer }}</h2>
      <div class="HomeLanding__Links">
        <div
          *ngFor="let link of links"
          class="HomeLanding__Link"
          [title]="link.name"
          (click)="openLink(link.url)"
        >
          <fa-icon [icon]="link.icon"></fa-icon>
        </div>
      </div>
    </div>
    <div class="HomeLanding__Icon">
      <fa-icon [icon]="faCode"></fa-icon>
    </div>
  </div>

  <div id="particles-js" class="HomeLanding__Background"></div>
</div>
