<div class="Home">
  <div class="Home__Slider">
    <a href="#HomeLanding" class="Home__SliderCircle"></a>
    <a href="#HomeAbout" class="Home__SliderCircle"></a>
    <a href="#HomeTechnologies" class="Home__SliderCircle"></a>
  </div>
  <header id="HomeHeader" class="Home__Header">
    <home-header></home-header>
  </header>
  <section id="HomeLanding" class="Home__Landing">
    <home-landing></home-landing>
  </section>
  <section id="HomeAbout" class="Home__About">
    <home-about></home-about>
  </section>
  <section id="HomeTechnologies" class="Home__Technologies">
    <home-tech></home-tech>
  </section>
  <footer class="Home__Footer">
    <home-footer></home-footer>
  </footer>
</div>
